<% if (isAuthorized) { %>
    <div class="col-span-1 row-span-11 bg-[#075640] flex flex-col h-full relative">
        <!-- Logout Button -->
        <form action="/logout" method="POST" class="absolute top-4 right-4">
            <button class="px-4 py-2 text-xl bg-white rounded-lg text-[#075640] hover:cursor-pointer font-semibold">Logout</button>
        </form>
    
        <!-- Centered "Student Info" Title -->
        <div class="flex justify-center items-center mt-20">
            <h1 class="text-white text-2xl underline font-semibold">Student Info</h1>
        </div>
        
        <!-- Student Details Section -->
        <div class="flex flex-col items-center text-white mt-6 gap-0">
            <div class="w-4/5 font-bold">
                <p class="italic text-md font-normal">Student ID</p>
                <h1 class="p-3 bg-white rounded-lg text-2xl text-[#075640]"><%= student.studentid %></h1>
            </div>
            <div class="w-4/5 font-bold mt-2">
                <p class="italic text-md font-normal">Name</p>
                <h1 class="p-3 bg-white rounded-lg text-2xl text-[#075640]"><%= student.student_name %></h1>
            </div>
            <div class="w-4/5 font-bold mt-2">
                <p class="italic text-md font-normal">Degree</p>
                <h1 class="p-3 bg-white rounded-lg text-2xl text-[#075640]"><%= student.degree_type === 'BS' ? 'Bachelor Of Science' : 'Bachelor Of Arts' %></h1>
            </div>
            <div class="w-4/5 font-bold mt-2">
                <p class="italic text-md font-normal">Credits</p>
                <h1 class="p-3 bg-white rounded-lg text-2xl text-[#075640]"><%= student.credits %></h1>
            </div>
        </div>
    
        <div class="w-full text-base font-bold px-6 mt-6 text-white">
            <p class="mb-2">- Level <span class="italic font-normal">Undergraduate</span></p>
            <p class="mb-2">- Classification <span class="italic font-normal"><%= student.classification %></span></p>
            <p class="mb-2">- Major <span class="italic font-normal">Computer Science</span></p>
            <p class="mb-2">- Concentration <span class="italic font-normal"><%= student.concentration %></span></p>
            <p class="mb-2">- College <span class="italic font-normal">Computing and Informatics</span></p>
            <p class="mb-2">- Advisor <span class="italic font-normal"><%= student.advisor %></span></p>
            <p class="mb-2">- Writing Placement Level (UG) <span class="italic font-normal">WR04</span></p>
            <p class="mb-2">- Foreign Language <span class="italic font-normal">Foreign Language Not Exempt</span></p>
            <p class="mb-2">- Test Score(s) <span class="italic font-normal">UWRT WR04</span></p>
        </div>
    </div>
    <% } %>